APP_NAME=Generate Description AI API
APP_ENV=development
FRONTEND_URL=http://localhost:3000

OPENAI_API_KEY=
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@localhost:5433/DATABASE_NAME

PAYWAY_MERCHANT_ID=
PAYWAY_API_KEY=
PAYWAY_ENV=sandbox
